body {
    background-color: #e9ecef;
}

td, th {
    text-align: left;
    padding: 3px 20px 3px 7px;
}

th {
    padding: 5px;
    background-color: #e9ecef;
    border-top: 1px solid #dee2e6;
}

tr:nth-child(odd) {
    background-color: #dde0e3;
}

tr[excess=true] {
    color: red;
}

tr[excess=false] {
    color: green;
}

.pencil:before {
    content: "\270E";
}

.delete:before {
    content: "\2716";
}

a {
    text-decoration: none;
}

td, a, .pencil:before, .delete {
    color: inherit;
}

.addMeal:before {
    content: "\271A";
    color: blue;
}